<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Thế giới di động</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

<div class="container body-content">
    <div class="row">
        <div class="col-md-3">
            <div style="padding-top: 12px">
                @Html.Action("CategoriesPartial", "Categories")
            </div>
         
        </div>
        <div class="col-md-9">
            <div style="padding-top: 12px">
                @RenderBody()
            </div>           
        </div>
    </div>
  

    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Thế giới di động</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
