<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administration</title>

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css" crossorigin="anonymous">    

    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container body-content">
                <a class="navbar-brand" href="#">Administration</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home", new {Area = ""})">Front-Site <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Security" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Security
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-Security">
                                <a class="dropdown-item" href="@Url.Action("Index", "ManageUsers")">Manage Users</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "ManageRoles")">Manage Roles</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Catalogs
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown-Products">
                                <a class="dropdown-item" href="@Url.Action("Index", "ManageCategories")">Manage Categories</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "ManageProducts")">Manage Products</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            
        </nav>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()    
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aptech WAP</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
